/* svg .user-activeuser */
svg .user-activeuser.green-active {
    color: #318a16;
}

svg .user-activeuser.blue-active {
    color: #1f77b4;
}

svg .user-activeuser.red-active {
    color: #d62728;
}

/* svg .link-activeuser */
svg .link-activeuser.blue-active {
    stroke: #1f77b4;
}

svg .link-activeuser.green-active {
    stroke: #318a16;
}

svg .link-activeuser.red-active {
    stroke: #d62728;
}

/* svg .node-activeuser */
svg .node-activeuser.blue-active {
    fill: #1f77b4;
}

svg .node-activeuser.green-active {
    fill: #318a16;
}

svg .node-activeuser.red-active {
    fill: #d62728;
}

/* #users .user-activeuser */
#users .user-activeuser.red-active {
    background-color: #d62728;
    color: #eee;
}

#users .user-activeuser.green-active {
    background-color: #318a16;
    color: #eee;
}

#users .user-activeuser.blue-active {
    background-color: #1f77b4;
    color: #eee;
}