.user.red-mouseover:hover {
    color: #d62728;
}

.user-activeuser.red-active {
    color: #d62728;
}

.node.red-mouseover:hover {
    fill: #d62728;
}

.link-activeuser.red-active {
    stroke: #d62728;
}

.node.target.red-clicked.red-mouseover {
    fill: #d62728 !important;
}

.link.source.red-clicked.red-mouseover {
    stroke: #d62728;
}

.node-item-mouseover.red-mouseover {
    fill: #d62728;
}

.user-item-mouseover.red-mouseover {
    color: #d62728;
}

.link-item-clicked.red-clicked {
    stroke: #d62728;
}

.node-item-clicked.red-clicked {
    fill: #d62728 !important;
}

.user-item-clicked.red-clicked {
    color: #d62728;
}

.user-clicked.red-clicked {
    color: #d62728;
}

.link-user-clicked.red-clicked {
    stroke: #d62728;
}

.node-user-clicked.red-clicked {
    fill: #d62728 !important;
}

#users .user-activeuser.red-active {
    background-color: #d62728;
    color: #eee;
}

#users .user.red-mouseover:hover {
    background: #d62728;;
    color: #fff;
}

#users .user-clicked.red-clicked {
    background: #d62728;;
    color: #fff;
}

#users .user-item-mouseover.red-mouseover {
    background: #d62728;
    color: #fff;
}

#users .user-item-clicked.red-clicked {
    background: #d62728;;
    color: #fff;
}