svg .user.blue-mouseover:hover {
    color: #1f77b4;
}

svg .user.green-mouseover:hover {
    color: #318a16;
}

svg .user.red-mouseover:hover {
    color: #d62728;
}

svg .node.red-mouseover:hover {
    fill: #d62728;
}

svg .node.blue-mouseover:hover {
    fill: #1f77b4;
}

svg .node.green-mouseover:hover {
    fill: #318a16;
}

svg .node.target.red-mouseover {
    fill: #d62728 !important;
}

svg .node.source.red-mouseover {
    fill: #d62728 !important;
}

svg .link.source.red-mouseover {
    stroke: #d62728;
}

svg .link.target.red-mouseover {
    stroke: #d62728;
}

svg .node-item-mouseover.red-mouseover {
    fill: #d62728;
}

svg .user-item-mouseover.red-mouseover {
    color: #d62728;
}

svg .node.target.blue-mouseover {
    fill: #1f77b4 !important;
}

svg .node.source.blue-mouseover {
    fill: #1f77b4 !important;
}

svg .link.source.blue-mouseover {
    stroke: #1f77b4;
}

svg .link.target.blue-mouseover {
    stroke: #1f77b4;
}

svg .node-item-mouseover.blue-mouseover {
    fill: #1f77b4;
}

svg .user-item-mouseover.blue-mouseover {
    color: #1f77b4;
}

svg .node.target.green-mouseover {
    fill: #318a16 !important;
}

svg .node.source.green-mouseover {
    fill: #318a16 !important;
}

svg .link.source.green-mouseover {
    stroke: #318a16;
}

svg .link.target.green-mouseover {
    stroke: #318a16;
}

svg .node-item-mouseover.green-mouseover {
    fill: #318a16;
}

svg .user-item-mouseover.green-mouseover {
    color: #318a16;
}

#users .user.blue-mouseover:hover {
    background-color: #1f77b4;;
    color: #fff;
}

#users .user.red-mouseover:hover {
    background-color: #d62728;;
    color: #fff;
}

#users .user.green-mouseover:hover {
    background-color: #318a16;;
    color: #fff;
}

#users .user-item-mouseover.red-mouseover {
    background-color: #d62728;
    color: #fff;
}

#users .user-item-mouseover.blue-mouseover {
    background-color: #1f77b4;
    color: #fff;
}

#users .user-item-mouseover.green-mouseover {
    background-color: #318a16;
    color: #fff;
}