.user.green-mouseover:hover {
    color: #67b77e;
}

.user-activeuser.green-active {
    color: #67b77e;
}

.node.green-mouseover:hover {
    fill: #67b77e;
}

.link-activeuser.green-active {
    stroke: #67b77e;
}

node.target.green-mouseover.green-clicked{
    fill: #67b77e !important;
}

.link.source.green-clicked.green-mouseover {
    stroke: #67b77e;
}

.node-item-mouseover.green-mouseover {
    fill: #67b77e;
}

.user-item-mouseover.green-mouseover {
    color: #67b77e;
}

.link-item-clicked.green-clicked {
    stroke: #67b77e;
}

.node-item-clicked.green-clicked {
    fill: #67b77e !important;
}

.user-item-clicked.green-clicked {
    color: #67b77e;
}

.user-clicked.green-clicked {
    color: #67b77e;
}

.link-user-clicked.green-clicked {
    stroke: #67b77e;
}

.node-user-clicked.green-clicked {
    fill: #67b77e !important;
}

#users .user-activeuser.green-active {
    background-color: #67b77e;
    color: #eee;
}

#users .user.green-mouseover:hover {
    background: #67b77e;;
    color: #fff;
}

#users .user-clicked.green-clicked {
    background: #67b77e;;
    color: #fff;
}

#users .user-item-mouseover.green-mouseover {
    background: #67b77e;
    color: #fff;
}

#users .user-item-clicked.green-clicked {
    background: #67b77e;;
    color: #fff;
}