.user.blue-mouseover:hover {
    color: #1f77b4;
}

.user-activeuser.blue-active {
    color: #1f77b4;
}

.node.blue-mouseover:hover {
    fill: #1f77b4;
}

.link-activeuser.blue-active {
    stroke: #1f77b4;
}

.node.target.blue-mouseover {
    fill: #1f77b4 !important;
}

.node.source.blue-mouseover {
    fill: #1f77b4 !important;
}

.link.source.blue-mouseover {
    stroke: #1f77b4;
}

.link.target.blue-mouseover {
    stroke: #1f77b4;
}

.node-item-mouseover.blue-mouseover {
    fill: #1f77b4;
}

.user-item-mouseover.blue-mouseover {
    color: #1f77b4;
}

.link-item-clicked.blue-clicked {
    stroke: #1f77b4;
}

.node-item-clicked.blue-clicked {
    fill: #1f77b4 !important;
}

.user-item-clicked.blue-clicked {
    color: #1f77b4;
}

.user-clicked.blue-clicked {
    color: #1f77b4;
}

.link-user-clicked.blue-clicked {
    stroke: #1f77b4;
}

.node-user-clicked.blue-clicked {
    fill: #1f77b4 !important;
}

#users .user-activeuser.blue-active {
    background-color: #1f77b4;
    color: #eee;
}

#users .user.blue-mouseover:hover {
    background: #1f77b4;;
    color: #fff;
}

#users .user-clicked.blue-clicked {
    background: #1f77b4;;
    color: #fff;
}

#users .user-item-mouseover.blue-mouseover {
    background: #1f77b4;
    color: #fff;
}

#users .user-item-clicked.blue-clicked {
    background: #1f77b4;
    color: #fff;
}