/* 
    Document   : infovis.whitebox.cf
    Created on : 2-apr-2013, 12:00:59
    Author     : Joris Schelfaut
    Description:
        This stylesheet corresponds to the infovis.whitebox.cf.js
        JavaScript script. To create a custom stylesheet, add this file
        as an import in the header of the custom CSS stylesheet.
*/

.user {
    cursor: pointer;
}

svg {
    background-color: #eee;
}

path.arc {
    fill: #fff;
}

.node {
    font-size: 15px;
    cursor: pointer;
}

.link {
    fill: none;
    /*stroke: #666699;*/
    stroke: #667;
    stroke-opacity: .4;
    pointer-events: none;
}

.link-activeuser {
    fill: none;
    stroke-opacity: 1;
    /*stroke-width: 2px;*/
}

.link.source, .link.target {
    stroke-opacity: 1;
    stroke-width: 1.5px;
}

.link-item-clicked {
    stroke-opacity: 1;
    stroke-width: 1.5px;
}

.link-user-clicked {
    stroke-opacity: 1;
    stroke-width: 1.5px;
}

button {
    cursor: pointer;
}
